<div class="slide">
	<h2>CQRS by Example</h2>
	<p>Agenda</p>
	<ul>
		<li>Por qué?</li>
		<li>Qué?</li>
		<li>Cómo?</li>
		<li>[Descanso]</li>
		<li>Código</li>
		<li>Q&amp;A</li>
	</ul>
</div>
