<div class="slide">
<h2>Un poco de Historia</h2>
<p>CQS (Command-Query Separation principle)</p>
<p>&quot;Functions should not produce abstract side-effects&quot;</p>
<p>O sea. &quot;Preguntar algo no cambia la respuesta.&quot;</p>
<p>Un método o:</p>
<p>O obtiene/calcula cierta información (consultas)</p>
<p>O cambia el estado del receptor (comando)</p>

<p>La dualidad nos rodea</p>
<p>Command/Query</p>
<p>Pop/Peek</p>
<p>Copy/paste</p>
<p>Read/Write</p>
<p>GET/POST</p>
<p>Zero/Diet Coke, Pin y Pon, Batman/Robin</p>
</div>

