<div class="slide">
<h2>Un poco de Historia</h2>
<p>CQS (Command-Query Separation principle)</p>
<p class="tab_1">&quot;Functions should not produce abstract side-effects&quot;</p>
<p class="tab_1">&quot;Preguntar algo no cambia la respuesta.&quot;</p>
<p>Un método...</p>
<p class="tab_1">O obtiene/calcula cierta información (consultas)</p>
<p class="tab_1">O cambia el estado del receptor (comando)</p>

<p>La dualidad nos rodea</p>
<p class="tab_1">Command/Query</p>
<p class="tab_1">Pop/Peek</p>
<p class="tab_1">Copy/paste</p>
<p class="tab_1">Read/Write</p>
<p class="tab_1">GET/POST</p>
<p class="tab_1">Zero/Diet Coke, Pin y Pon, Batman/Robin</p>
</div>

