<div class="slide">
<h2>A Little Background</h2>
<p>CQS (Command-Query Separation principle)</p>
<p>&quot;Functions should not produce abstract side-effects&quot;</p>
<p>Aka. &quot;Asking a Question should change the answer.&quot;</p>
<p>A method should either:</p>
<p>Retrieve/calculate a piece of information (queries)</p>
<p>Perform a change in the state of the receiver (commands)</p>

<p>Duality everywhere</p>
<p>Command/Query</p>
<p>Pop/Peek</p>
<p>Copy/paste</p>
<p>Read/Write</p>
<p>GET/POST</p>
<p>Zero/Diet Coke, S&amp;M, Batman/Robin</p>

</div>

