<div class="slide">
	<h2>Casi convencido... Pero?</h2>

	<p>Escalabilidad? Rendimiento? Mazo de JOINs?</p>
	<p class="tab_1">Las operationes más utilizadas (lecturas) son realizadas sobre su propio sub-sistema (completamente des-normalizado)</p>

	<p>Trazas de negocio?</p>
	<p class="tab_1">Facilita event-sourcing (el no va más en trazabilidad)</p>

	<p>Equipos de miembros con experiencia que no es homogénea?</p>
	<p class="tab_1">Facilita la divisón de trabajo respecto a habilidades</p>

	<p>DDD?</p>
	<p class="tab_1">Por qué un modelo de dominio debería contener conceptos como paginación o fetching-path?</p>
	<p class="tab_1">Facilita la completa segregación de Lectura y Escritura</p>
</div>