<div class="slide">
	<h2>Almost sold... But?</h2>

	<p>Scalability? Performance? Ridiculous amount of JOINs?</p>
	<p>Segreagates most used features (reads) into its own highly-denormalized subsystem</p>

	<p>Audit log anyone?</p>
	<p>Promotes event-sourcing (the ultimate audit log)</p>

	<p>Non-homogeneous expertise in team members?</p>
	<p>Allows partitioning development efforts</p>

	<p>DDD anyone?</p>
	<p>Why should your domain model care about non-business concerns such as trimmed model traversal</p>
	<p>Promotes complete separation of Read/Write concerns</p>
</div>