<div class="slide">
	<h2>Am I doing it all wrong?</h2>
	<p>Dangerous Buzzwords
	<p>Data Consistency
	<p>Scalability</p>

	<p>Raising expectations</p>
	<p>Data IS stale</p>
	<p>Unfulfilled ”promises”</p>
	<p>Automatic instantaneous responses</p>

	<p>CAP theorem</p>
</div>
