<div class="slide">
	<h2>Es que lo hago todo mal?</h2>
	<p>El peligro de las &quot;palabras de moda&quot;</p>
	<p class="tab_1">Consistencia de datos</p>
	<p class="tab_1">Escalabilidad</p>

	<p>Poner el listón demasiado alto</p>
	<p class="tab_1">Los datos SON obsoletos</p>
	<p>&quot;Promesas&quot; incumplidas</p>
	<p class="tab_1">Respuestas autómáticas e instantáneas</p>

	<p>Teorema CAP</p>
</div>
