<div class="slide">
	<h2>Commands and Events</h2>
	<p>Commands are usually paired with Domain Events</p>
	<p>Domain Events</p>
	<p>Make public that something potentially interesting happened</p>
	<p>Messaging paradigm</p>
	<p>Multicast publication</p>
	<p>Event handlers are small,simple and decoupled</p>
	<p>Aggregate Root Handlers  apply mutation logic</p>	
	<p>Other handles &rArr; update query, reporting, ... subsystems</p>
</div>
