<div class="slide">
	<h2>Command Sub-System</h2>
	<p>Focused on operations that capture intent of the user</p>
	<p>Commands are expressive, simple domain objects</p>
	<p>The are subject to validation (client + server side)</p>
	<p>Very little validated commands will not be executed in the domain</p>
	<p>Messaging paradigm</p>
	<p>Execution is a one-way operation</p>
</div>

