<div class="slide">
	<h2>El sub-sistema de Comandos</h2>
	<p>Enfocado en operaciones que capturan las intenciones del usuario</p>
	<p>Los comandos son objectos de dominio simples y expresivos</p>
	<p>La validación actúa sobre ellos (en cliente y/o en servidor)</p>
	<p>Muy pocos comandos válidos van a fallar cuando sean ejecutados por el dominio</p>
	<p>Paradigma de Messaging</p>
	<p>La ejecuciøon de u comando en una operación de una única dirección</p>
</div>

