<div class="slide">
	<h2>Comandos y Eventos</h2>
	<p>Los comandos se suelen emparejar con Eventos de Dominio</p>
	<p>Eventos de Dominio</p>
	<p>Hacen público algo ha sucedido que lo mismo puede interesar a alguien</p>
	<p>Paradigmas de Messaging</p>
	<p>Multicast publication</p>
	<p>Manejadores de eventos son peque&ntilde;os, sencillos y decoupled</p>
	<p>Aggregate Root tienen manejadores que aplican los cambios</p>	
	<p>Otros manejadores actualizan los modelos de otros subsistemas</p>
</div>
