<div class="slide">
	<h2>Comandos y Eventos</h2>
	<p>Los comandos se suelen emparejar con Eventos de Dominio</p>
	<p>Eventos de Dominio</p>
	<p class="tab_1">Hacen público algo ha sucedido que lo mismo puede interesar a alguien</p>
	<p class="tab_1">Manejadores de eventos son peque&ntilde;os, sencillos y decoupled</p>
	<p class="tab_2">Aggregate Root tienen manejadores que aplican los cambios</p>	
	<p class="tab_2">Otros manejadores actualizan los modelos de otros subsistemas</p>
	<hr/>
	<p>Paradigmas de Messaging</p>
	<p class="tab_1">Multicast publication</p>
</div>
