<div class="slide">
	<h2>Ah, vale... Y qué más?</h2>
	<p>Qué preferiría un usuario para ser productivo?</p>
	<p class="tab_1">a) Empollarse de memoria un tocho de manual?</p>
	<p class="tab_1">b) Que la aplicación le vaya guiando hasta que se termine la operación que realmente quiere hacer?</p>

	<p>Dejar que la lógica de la aplicación viva fuera de sí misma</p>
	<p>LLevarle por el &quot;camino al éxito&quot;</p>

	<p>La INTENCIÓN es lo que cuenta</p>
	<p class="tab_1 good">Operationes ejecutadas dentro de su contexto</p>
	<p class="tab_1 good">Interficies basadas en tareas</p>
	<p class="tab_1 evil">Grids</p>
</div>
