<div class="slide">
	<h2>Ah, vale... Y qué más?</h2>
	<p>Qué preferiría un usuario para ser productivo?</p>
	<p>Empollarse de memoria un tocho de manual?</p>
	<p>Que la aplicación le vaya guiando hasta que se termine la operación que realmente quiere hacer?</p>

	<p>Dejar que la lógica de la aplicación viva fuera de sí misma</p>
	<p>LLevarle por el &quot;camino al éxito&quot;</p>

	<p>La INTENCIÓN es lo que cuenta</p>
	<p>Operationes ejecutadas dentro de su contexto GOOD</p>
	<p>Interficies basadas en tareas GOOD</p>
	<p>Grids EVIL</p>
</div>
