<div class="slide">
	<h2>Got it... What Else?</h2>
	<p>What would a user prefer?</p>
	<p>Learn manuals by heart to be productive</p>
	<p>The application guides the user towards a task completion</p>

	<p>Let the logic of application live outside itself</p>
	<p>Push towards the ”pit of success”</p>

	<p>It’s all about INTENT</p>
	<p>Meaningful context for operations is GOOD</p>
	<p>Task-oriented UIs are GOOD</p>
	<p>Grids are EVIL</p>
</div>
