<div class="slide">
	<h2>Hanging Issues</h2>
	<p>Asynchronous handlers</p>
	<p>Handler error handling</p>
	<p>Operation success / failure notification</p>
	<p>Event Sourcing</p>
	<p>Versioning</p>
	<p>Concurrency</p>
	<p>Event Bus implementations</p>
	<p>Event Storage</p>
</div>