<div class="slide">
	<h2>Cosas que faltan</h2>
	<p>Manejadores asíncronos</p>
	<p>Gestión de errores en los manejadores</p>
	<p>Notificaciones de éxito / error de las operaciones</p>
	<p>Event Sourcing</p>
	<p>Versionado</p>
	<p>Concurrencia</p>
	<p>Implementaciones del Bus de Eventos</p>
	<p>Almacenaje de eventos</p>
</div>