
<div class="slide">
	<h2>Enlaces</h2>
	<p>Esto <a href="https://github.com/dgg/Dgg.Cqrs.Sample">https://github.com/dgg/Dgg.Cqrs.Sample</a></p>
	<p>Algunas librerías:</p>
	<p class="tab_1"><a href="https://github.com/gregoryyoung/m-r">Super Simple CQRS Example</a> (Greg Young)</p>
	<p class="tab_1"><a href="https://github.com/MarkNijhof/Fohjin">Fohjin</a> (Mark Nijhof)</p>
	<hr />
	<p class="tab_1"><a href="https://github.com/joliver/EventStore">Event Store</a></p>
	<p class="tab_1"><a href="http://ncqrs.org/">NCQRS</a></p>
	<hr/>
	<p class="tab_1"><a href="http://lokad.github.com/lokad-cqrs/">Lokad NCQRS</a></p>
	<p class="tab_1"><a href="https://github.com/elliotritchie/NES">NES</a></p>
	<p class="tab_1"><a href="https://github.com/ToJans/Scritchy">Scritchy</a></p>
	<p class="tab_1"><a href="https://github.com/tyronegroves/SimpleCQRS">simple CQRS</a></p>
</div>
