<div class="slide">
	<h2>Sub-Sistema de Consultas</h2>
	<p>La Aplicación manda</p>
	<p class="tab_1">Se muestran datos, no objetos</p>
	<p class="tab_1">View-Model (DTO) re-hidratado en vez de proyectar sobre las entidades</p>
	<p>Rápido</p>
	<p class="tab_1">Des-normalizado y orientado a su presentación</p>
	<p>Escalable</p>
	<p class="tab_1">No temas a la eventual consistency</p>
</div>

