<div class="slide">
	<h2>Query Sub-System</h2>
	<p>Application is King</p>
	<p>Show data, not objects</p>
	<p>Persisted View-Model (DTO) instead of projections over Entities</p>
	<p>Fast</p>
	<p>Highly denormalized for presentation puporses</p>
	<p>Scalable</p>
	<p>Embrace eventual consistency</p>
</div>

