<div class="slide">
	<h2>Sub-Sistema de Consultas</h2>
	<p>La Aplicación manda</p>
	<p>Se muestran datos, no objetos</p>
	<p>View-Model (DTO) re-hidratado en vez de proyectar sobre las entidades</p>
	<p>Rápido</p>
	<p>Des-normalizado y orientado a su presentación</p>
	<p>Escalable</p>
	<p>No temas a la eventual consistency</p>
</div>

