<div class="slide">
	<h2>Lo Qué?</h2>
	<p>Dividir los objectos en base a responsibilidades de lectura y escritura</p>
	<p>Evolución de N-Tier</p>
	<p><strong>NO</strong> es un sumatorio de:</p>
	<p>Interficies orientadas a tareas</p>
	<p>DDD</p>
	<p>Eventos de Dominio</p>
	<p>Mensajería</p>
	<p>Eventual consistency</p>
	<p>Event sourcing</p>
	<p>Pero se lleva muy bien con:</p>
	<p>Sistemas complejos (DDD)</p>
	<p>Sistemas que exigen escalabilidad (No-SQL)</p>
	<p>Aplicaciones con requerimientos de trazabilidad estrictos (Event Sourcing)</p>
</div>

