<div class="slide">
	<h2>Lo Qué?</h2>
	<p>Dividir los objectos en base a responsibilidades de lectura y escritura</p>
	<p>Evolución de N-Tier</p>
	<p><strong>NO</strong> es un sumatorio de:</p>
	<p class="tab_1">Interficies orientadas a tareas</p>
	<p class="tab_1">DDD</p>
	<p class="tab_1">Eventos de Dominio</p>
	<p class="tab_1">Mensajería</p>
	<p class="tab_1">Eventual consistency</p>
	<p class="tab_1">Event sourcing</p>
	<p>Pero se lleva muy bien con:</p>
	<p class="tab_1">Sistemas complejos (DDD)</p>
	<p class="tab_1">Sistemas que exigen escalabilidad (No-SQL)</p>
	<p class="tab_1">Aplicaciones con requerimientos de trazabilidad estrictos (Event Sourcing)</p>
</div>

