<div class="slide">
	<h2>The.. What?</h2>
	<p>Split objects in two in regards of read/write responsibilities</p>
		<p>Follow-up on N-Tier</p>
	<p>Not a sum of all of the following:</p>
	<p>Task based Uis</p>
	<p>DDD</p>
	<p>Domain Events</p>
	<p>Mesaging</p>
	<p>Eventual consistency</p>
	<p>Event sourcing</p>
	<p>But mixes well with:</p>
	<p>Complex systems (DDD)</p>
	<p>Scalability demanding systems (No-SQL)</p>
	<p>Application with high degree of traceability (Event Sourcing)</p>
</div>

