<div class="slide">
	<h2>Interficies de Usuario</h2>
	<p>Re-dise&ntilde;a tu UI</p>
	<p>Desde fácil de dise&ntilde;ar</p>
	<p class="tab_1">Formularios sosos con botones de Cancelar/Guardar</p>
	<p class="tab_1">Grids mas grandes que tu cabeza</p>
	<p>A fácil de usar</p>
	<p class="tab_1">asistentes</p>
	<p class="tab_1">operaciones en su contexto</p>
	<p class="tab_1">in-place editing</p>
	<p class="tab_1">...</p>
	<p>Modela explicitamente los retrasos y los flujos de proceso</p>
	<p>Haz lo posible para capturar las intenciones del usuario</p>	
</div>

