<div class="slide">
	<h2>User Interface</h2>
	<p>Extensive UI re-design</p>
	<p>From easy to design</p>
	<p>Bleak form with Cancel/Save buttons</p>
	<p>Gigantic grids</p>
	<p>To easy to use</p>
	<p>Wizards-like</p>
	<p>contextual operations</p>
	<p>in-place editing</p>
	<p>...</p>
	<p>Model explicitly delays and processing workflows</p>
	<p>Jump though hoops to capture the intent</p>	
</div>

