<div class="slide">
	<h2>Interficies de Usuario</h2>
	<p>Re-dise&ntilde;a tu UI</p>
	<p>Desde fácil de dise&ntilde;ar</p>
	<p>Formularios sosos con botones de Cancelar/Guardar</p>
	<p>Grids mas grandes que tu cabeza</p>
	<p>A fácil de usar</p>
	<p>asistentes</p>
	<p>operaciones en su contexto</p>
	<p>in-place editing</p>
	<p>...</p>
	<p>Modela explicitamente los retrasos y los flujos de proceso</p>
	<p>Haz lo posible para capturar las intenciones del usuario</p>	
</div>

