<div class="slide">
<h2>What and What Not</h2>
	<p>Command and Query Responsibilities Seggregation</p>
	<p>An application either issues queries or issues commands, not both at the same time</p>
	<p>Queries are performed on a different source from commands</p>
	<p>What?</p>
	<p>&quot;Just&quot; an Architectural Style</p>
	<p>Projection to another scale of well-known proved principles</p>
	<p>An opt-in set of concepts</p>

	<p>What Not?</p>
	<p>A revolution</p>
	<p>The solution to any application</p>
	<p>All or nothing</p>
</div>
