<div class="slide">
	<h2>Qué y Qué No</h2>
	<p>Command and Query Responsibilities Seggregation</p>
	<p class="tab_1">Una aplicación O realiza consultas O manda comandos, pero nunca al mismo tiempo</p>
	<p class="tab_1">Las consultas se ejecutan sobre una fuente distinta que los comandos</p>
	<p>Cómorrrl?</p>
	<p class="tab_1">Es &quot;sólo&quot; un Estilo de Arquitectura</p>
	<p class="tab_1">Un proyección a otra escala de otros principios bien asentados</p>
	<p class="tab_1">Un conjunto de conceptos aplicables independientemente</p>

	<p>Y lo que no es?</p>
	<p class="tab_1">una revolución</p>
	<p class="tab_1">la solución para todo tipo de aplicaciones</p>
	<p class="tab_1">o todo o nada</p>
</div>
