<div class="slide">
	<h2>Por qué CQRS?</h2>
	<p>En que se parecen las aplicaciones [fósfore verde .. Web 1.0 CRUD]?</p>
	<p class="tab_1">los datos mandan</p>
	<p>En los viejos (y no tanto) tiempos</p>
	<p class="tab_1">Los programas daban soporte a procesos que ya existían &rarr; el papel ES La Verdad</p>
	<p class="tab_1">Los programas solían ser tontos &rarr; difíciles de usar</p>
	<p class="tab_1">RTFM y vete buscando el código de error</p>
	<p>&quot;Tiempo Modernos&quot;</p>
	<p class="tab_1">Cambio hacia sistemas de entradas de datos colaborativos</p>
	<p class="tab_1">Layering, tiering, validación, caching, mapeos, proyecciones, ...</p>
</div>
