<div class="slide">
	<h2>Why CQRS?</h2>
	<p>Common Denominator for applications [green phospore .. Web 1.0 CRUD]?</p>
	<p>Data was king</p>
	<p>Old (and not so old) days</p>
	<p>Programs supported existing processes --> paper as source of Truth</p>
	<p>Programs tended to be dumb --> difficult to operate</p>
	<p>RTFM looking up operations failure codes</p>
	<p>”Modern” days</p>
	<p>Switch to collaborative data-entry systems</p>
	<p>Layering, tiering, validation, caching, mapping, projections, ...</p>
</div>
