<div class="slide">
	<h2>Yeah... but Why?</h2>
	<p>Example Canonical 3-Layers system</p>
	<p>Different object models (domain, presentation)</p>
	<p>Mutiple mappings (Db – D – P – D – Db)</p>
	<p>Most queries run against OLTP system</p>
	<p>Performance Sucks --> Caching</p>

	<p>Were are carrying architectural baggage</p>
	<p>Adds Incidental complexity
</p>
</div>
