<div class="slide">
	<h2>Sí... pero Por Qué?</h2>
	<p>Tomemos por ejemplo un sistema canónico de 3 capas</p>
	<p>Existen diferentes modelos de objetos (dominio, presentación)</p>
	<p>Múltiples mapeos de información (Db – D – P – D – Db)</p>
	<p>La mayoría de las consultas se hacen sobre un sistema OLTP</p>
	<p>Va lento como el c... &rarr; Así que montamos una caché de datos</p>

	<p>Llevamos una bola de preso arquitectónica</p>
	<p>A&ntilde;adimos complejidad incidental</p>
</div>
