@{
    ViewBag.Title = "Daniel González García";
}

<p>Un &quot;sencillo&quot; sistema de gestión de incidencias con sabor a CQRS casero para <a href="http://madriddotnet.wordpress.com/">Madrid .NET</a>.
</p>
<h2>Yo</h2>
<p>Jefe del equipo de desarrollo de <a href="http://www.vertica.dk" target="_blank">Vertica A/S</a></p>
<p>Sujeto de estudio antropológico-lingüistico</p>
<p><em>Llena-páginas</em> <a href="http://dgondotnet.blogspot.com" target="_blank">virtuales</a> (y <a href="http://blog.vertica.dk/">también aquí</a>)</p>
<p><em>Aporrea-teclas</em> en mi tiempo libre</p>
<ul>
	<li><a href="http://code.google.com/p/nmoneys/" target="_blank">NMoneys</a></li>
	<li><a href="https://www.assembla.com/spaces/testing-commons/wiki" target="_blank">Testing.Commons</a></li>
	<li><a href="http://sharpromans.codeplex.com/" target="_blank">SharpRomans</a></li>
</ul>
<p>
	<a href="http://insidelacrosse.com/news/2010/06/29/international-spain-national-team-lacrosse-roster-released-fil-world-games">Deportista</a> de &quot;élite&quot;
</p>