@model Dgg.Cqrs.Sample.Core.Presentation.Models.Admin.AppVersion
@using Dgg.Cqrs.Sample.Core.Presentation.Controllers
@using Dgg.Cqrs.Sample.Web.Views
<ul class="actions">
	<li>
		@(Html.Action<AppVersionController>("Rename", c => c.Rename(new Guid(Model.Id)), "~/Content/img/pencil.png"))
	</li>
	<li>
		@(Html.MaybeAction<AppVersionController>("Assign ", c => c.Assign(new Guid(Model.Id)), "~/Content/img/tag_blue_add.png").DisabledIf(Model.AssignedTo != null))
	</li>
	<li>
		@(Html.MaybePostAction<AppVersionController>("Un-Assign", c => c.UnAssign(new Guid(Model.Id)), "~/Content/img/tag_blue_delete.png").DisabledIf(Model.AssignedTo == null))
	</li>
	<li>
		@(Html.DeleteAction<AppVersionController>("Delete", c => c.Delete(Guid.Parse(Model.Id)), "~/Content/img/cross.png"))
	</li>
</ul>
