@model IEnumerable<Dgg.Cqrs.Sample.Core.Presentation.Models.Admin.Solution>

@using Dgg.Cqrs.Sample.Core.Presentation.Controllers
@using Dgg.Cqrs.Sample.Web.Views
@{
    ViewBag.Title = "All Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Solutions</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
			@Html.Partial("_Actions", item)
        </td>
    </tr>
}

</table>
